
<!doctype html>
<html lang="en">
  <head>
    {% include 'components/header.html' %}

    <!-- <meta http-equiv="refresh" content="5"> -->
  </head>
  
    <body style="font-family: 'Nunito', sans-serif; background: #F6F8F9;">

      <!-- Guest code box -->
      <div class="container code-box" style="min-height: 70vh;">
        
        {% include 'components/search_bar.html' %}

        <!-- <div name="results" style="border: 1px; border-style: solid; border-radius: 5px; border-color: darkgray;padding: 5px;"> -->
        <div>
          <!-- <p>{{ info }}</p> -->
          <!-- loop through content response -->
          {% for item in info['response'] %}
            <!-- STRING -->
            {% if item['type']=='string' %}
              {% if item['content'][0:6]=='SELECT' %}
                <textarea class="form-control" id="exampleFormControlTextarea1" style='overflow: auto; margin-bottom: 5px;' rows="{{ item['content'].split('\n') | length }}">{{ item['content'] }}</textarea>
              {% else%}
                
                {% if item['content'].startswith('%bold%') %}
                  <pre><b>{{ item['content'].replace('%bold%', '') }}</b></pre>
                {% else%}
                  <pre>{{ item['content'] }}</pre>
                {% endif %}
            {% endif %}
            
            <!-- ERROR -->
            {% elif item['type']=='error' %}
              <div class="alert alert-danger" role="alert">
                {{ item['content'] }}
              </div>

            <!-- DICTOFLIST-->
            {% elif item['type']=='dictoflist' %}
              <table class="table table-hover table-bordered align-middle shadow p-3 bg-white rounded">
                <thead>
                  <tr>
                {% for row in item['content']['columns'] %}
                  <th>{{ row }}</th>
                {% endfor %}
                  </tr>
                </thead>
                <tbody>
                {% for row in item['content']['results'] %}
                    <tr>
                        {% for col in row %}
                          <td>{{ col }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
              </table>
            
            <!-- LIST OF LISTS -->
            {% elif item['type']=='listoflist' %}
              <table class="table align-middle shadow p-3 bg-white rounded">
                <tbody>
                {% for row in item['content'] %}
                    <tr>
                        {% for col in row %}
                          <td>{{ col }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            
            <!-- LIST -->
            {% elif item['type']=='list' %}
              {% for row in item['content'] %}
                <textarea class="form-control" id="exampleFormControlTextarea1" style='overflow: auto; margin-bottom: 5px;' rows="{{ (row|string).split('\n') | length }}">{{ row }}</textarea>
              {% endfor %}
            
            <!-- ELSE -->
            {% else%}
                <p1>not picked up: {{ item['type'] }}</p1>
            {% endif %}
            {% endfor %}
        </div>
      </div>

  <footer >
      {% include 'components/footer.html' %}
  </footer>
  
  </body>
</html>
