
<!doctype html>
<html lang="en">
  <head>
    <!-- Default -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Pegasus</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
    <!-- Custom CSS and JS -->
    <link href="/static/css/home.css" rel="stylesheet">
    <!-- <script src="/static/js/additional.js"></script> -->

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans&display=swap" rel="stylesheet">
  </head>
  
    <body>

        <div class="progress" style="height: 20px; margin: 5px;">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ info["user_info"]["total_today_percentage"] }}%" aria-valuenow="{{ info["user_info"]["total_today_percentage"] }}%" aria-valuemin="0" aria-valuemax="100" id="">{{ info["user_info"]["total_today_percentage"] }}%</div>
            <div class="progress-bar" role="progressbar" style="width: {{ info["user_info"]["time_elapsed"] }}%" aria-valuenow="{{ info["user_info"]["time_elapsed"] }}%"" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <div class="container">
            <div class="jumbotron" style="text-align:center">
                <!-- <h1 class="display-4">Hello, {{ info["user_info"]["code"] }}!</h1> -->
                <h2 class="display-10" style="color: #474747;">Today: {{ info["user_info"]["total_today"] }}ml</h2>
            </div>
        </div>
        

        <div class="container" style="text-align:center">
            <div class="row">
                {% for type in info["log_types"] %}
                    <div class="col-12 col-sm-3 col-md-3 col-lg-2" style="padding: 5px;">
                        <button onclick="log_drink('{{ info["user_info"]["code"] }}', {{ info["log_types"][type]['capacity']}})" style="height: 80px; width: 100%; color: #474747;" type="button" class="btn btn-outline-secondary">{{ info["log_types"][type]['name'] }} ({{ info["log_types"][type]['capacity'] }}ml)</button>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col" style="margin: 5px;">
                    <button onclick="reset_log('{{ info["user_info"]["code"] }}')" style="height: 50px;" type="button" class="btn btn-danger">reset</button>
                </div>
            </div>
        </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script>
      function log_drink(code, amount) {
            window.location = '/log/' + code + '/' + amount;
          };
        function reset_log(code) {
                window.location = '/reset/' + code;
            }  
    </script>

  </body>
</html>
